#body {
    margin:0;
    padding-left:20px;
    padding-right:20px;
    background-color:#1d244a;
    background-image:url('logo/swap_logo_white.png');
    background-repeat:no-repeat;
    background-size:auto 300px;
    background-position:center 5%;
    position:fixed !important;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
p {
    font-family:Verdana, Geneva, sans-serif;
}
div {
    font-family:Verdana, Geneva, sans-serif;
    font-size:13px;
    color: #a3acde;
    background-color:#151933;
}
div#log, div#workers, div#blocks {
    font-family:"Courier New", Courier, monospace;
    color:#7edeee;
    background-color:#151933;
    border:2px solid #2e3880;
    border-radius: 0.25rem;
}
.data input {
    background-color:#1d244a;
    color: #76baf0;
}
input {
    font-family:"Courier New", Courier, monospace;
    border:2px solid #2e3880;
    font-size:12px;
    padding:5px;
    color:#ddd;
    background-color:#151933;
    border-radius: 0.25rem;
}
span {
    color:#a561e5;
}
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select:none;
    user-select:none;
    cursor:default;
}
input, button, textarea, :focus {
    outline:none; 
}
.tab {
    overflow: hidden;
    background: transparent;
}

.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid #2e3880;
    border-bottom:0px;
    padding: 0.55rem 1.8rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: 0.25rem;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    color: #a3acde;
    background-color: transparent;
    background-image: none;
    margin-left:1rem;
}

.tab button:hover {
    background-color: #2e3880;
}

.tab button.active {
    background-color: #2e3880;
}

.tabcontent {
    height:calc(100% - 290px);
    display: none;
    padding: 0px 0px;
}
